/* Menghilangkan scrollbar di browser berbasis WebKit */
.scrollable-table::-webkit-scrollbar,
.scrollable-list::-webkit-scrollbar,
.table-terlaris::-webkit-scrollbar,
.table-menipis::-webkit-scrollbar {
    display: none; /* Hilangkan scrollbar */
}

.badge-danger{
    background-color:#FEECEB;
}

@media (max-width: 1028px) {
    nav a{
        font-size: 20px;
    }
}
body {
    font-family: "Inter", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    padding-left: 15px;
    padding-bottom: 10px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar a {
    padding: 10px 0 10px 0;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
}
.sidebar a:hover {
    background-color: #f1f1f1;
}
.sidebar .active {
    color: #007bff;
}

.sidebar nav a.active, .sidebar nav a:hover {
    color: #007bff;
}

.sidebar nav a.active i, .sidebar nav a:hover i {
    color: #007bff;
}
.sidebar nav a button{
    border: none;
    background-color: white;
}
.sidebar nav a:hover button:hover{
    color: #007bff;
    border: none;
    background-color: f1f1f1;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    border-radius: 8px;
    overflow-y: visible;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.header input {
    width: 40vw;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.header .owner {
    font-weight: bold;
}
.table-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 160px);
    overflow-y: auto;
}
.table-container .btn {
    margin-bottom: 10px;
}

nav a i {
    margin-right: 12px; /* Jarak antara ikon dan teks */
    max-width: 18px; /* Ukuran ikon */
    min-width: 18px;
    line-height: 1; /* Untuk memastikan ikon berada di tengah */
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.dropdown-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.arrow {
    margin-left: auto;
}

.dropdown-options {
    display: block; /* Ubah ke block agar bisa dianimasikan */
    max-height: 0; /* Atur tinggi awal ke 0 */
    opacity: 0; /* Buat tidak terlihat di awal */
    overflow: hidden; /* Agar konten yang tersembunyi tidak terlihat */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1000;
    transition: max-height 0.6s ease, opacity 0.6s ease; /* Tambahkan transisi */
    padding: 15px;;
}

.dropdown:hover .dropdown-options {
    max-height: 300px; /* Sesuaikan dengan tinggi maksimal yang diinginkan */
    opacity: 1; /* Set opacity penuh agar terlihat */
}

/* bagian dashboard */
/* .table-terhubung{
    max-height: 700px;
    min-height: 700px;
} */
.dashboard{
    height: 100vh;
}

.flex-grow-11 {
    flex-grow: 1; /* Mengizinkan konten ini untuk mengambil sisa ruang */
    display: flex; /* Pastikan konten dalam baris juga berfungsi dengan flex */
    flex-direction: row; /* Atur arah ke baris */
}


.vh-min-100 {
    min-height: 100vh;
}

.card.vh-min-100 {
    height: 100%; /* Agar card mengambil seluruh tinggi yang tersedia */
}

.scrollable-content {
    max-height: calc(100vh - 150px); /* Sesuaikan dengan tinggi yang diinginkan */
    overflow-y: auto;
}

.vh-min-100 {
    min-height: 100vh;
}

.card.vh-min-100 {
    height: 100%; /* Agar card mengambil seluruh tinggi yang tersedia */
}

.scrollable-content {
    max-height: calc(100vh - 150px); /* Sesuaikan dengan tinggi yang diinginkan */
    overflow-y: auto;
}
.min-height-25 {
    min-height: 35vh; /* Menetapkan tinggi minimum card menjadi 25% dari viewport */
}

/* .chartnya{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
} */

.table-terlaris{
    overflow-y: auto;
    max-height: 200px;
    min-height: 200px;
}
  .table-menipis {
    max-height: 700px;
    min-height: 700px;
    overflow-y: auto;
  }

  .badge{
    background-color: #fac5c1;
    color: #f04438;
    float: right;
  }

  tr{
    height: 50px;
    vertical-align: middle;
  }

.card-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

  td, th {
    padding: 5px; /* Sesuaikan padding sesuai kebutuhan */
    white-space: nowrap; /* Mencegah teks membungkus */
  }

.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.btn-warning
{
    background-color: #FEF4E6;
    color: #AF6606;
}

.btn-danger{
    background-color: #FEECEB;
    color: #f04438;
}

li>a{
    font-size: 1.5rem;
    color: #000;
}
.navbar .active {
    color: blue !important;
    font-weight: bold;
}

nav>a{
    height: 35px;
}

canvas
{
    height: 40vh;
    width: 100%;
}

/* Membuat tbody bisa digulir */
/* .table-responsive {
    max-height:750\vh; /* Sesuaikan dengan kebutuhan tinggi tabel */
    /* overflow-y: scroll; */
/* } */

/* Menjaga posisi sticky pada thead */
/* .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1; /* Agar thead tetap di atas saat digulir
} */

/* Memastikan kolom tetap dalam lebar yang sama */
/* .table th, .table td {
    white-space: nowrap; /* Agar isi kolom tidak terpotong
} */

/* Memastikan tabel dan colspan tetap memiliki border */
/* .table {
    border-collapse: collapse;
    width: 100%;
} */

/* .table td, .table th {
    padding: 8px;
} */

.monitoring{
    max-height: 500px;
}
